/* This is the syntax for a CSS comment. */

/* Typically you put all of your general element styles at the top. */



body {
	background-color: #6EC5CB;
}

h1 {
	color: #111111;
}

h2 {

}

p {

}

img {

}


/* Container or module styles probably come next. */

header h1 {
  
    font-family: century gothic, helvetica, sans-serif;
    font-size: 65px;
    padding: 0px;
 }

header h3 {
    font-family:monospace; 
    font-size: 20px;

}

nav {

}

nav a {

}

section {

}

aside {

}

footer {

}

/* Class and ID styles come last because they are the most specific. */

#copyright {

}